* {
    user-select: none;
    
}

body {
    margin: 0;
    padding: 0;
}

.hyperlinkbar {
    position: absolute;
    margin-right: 20px;
    height: 10%;
    word-spacing: 20px;
    float: right;
    margin-top: 20px;
    text-align: end;
    margin-left: 20px;
}

.hyperlinkbar nav{
    position: absolute;
    width: auto;
}

.hyperlinkbar a {
    position: relative;
    font-size: 1.5em;
    font-weight: 800px;
    text-decoration: none;
    color: black;
    
}

.header i{
    display: none;
    float: right;
    position: relative;
    font-size: 5vh;
    margin-top: 20px;
    margin-right: 2.5vh;
    cursor: pointer;
}

#cross {
    display: none;
    transform: rotateZ(-0.125turn);
}

.header {
    width: 100%;
    height: 10vh;
    background-color: antiquewhite;
}

.content_container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: antiquewhite;
    margin-top: 5vh;
    display: flexbox;
    text-align: center;
}

.content_container img {
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.content_container p{
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 2vh;
}
.content_container span {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em
}

/* @media(max-width: 550px) {
    .header i{
        display: block;
    }

    .hyperlinkbar {
        display: none;
    }

} */